.profile__info{
    display: flex;
    flex-wrap: wrap;
    max-width: 336px;
    margin-left: 30px;
}

@media screen and (max-width: 1049px){
    .profile__info{
        max-width: 282px;
        justify-content: center;
    }
}
