.profile__edit-button{
    width: 24px;
    height: 24px;
    margin: auto auto 10px 18px;
    /* align-self: baseline; */
    background: url(../../../images/PenProfile.svg) center / 10px no-repeat;
    border: 1px solid #FFFFFF;
    transition: opacity .5s;
}

.profile__edit-button:hover{
    opacity: 0.6;
    cursor: pointer;
}

@media  screen and (max-width: 1049px) {
    .profile__edit-button{
        width: 18px;
        height: 18px;
        margin: auto auto 5px 10px;
    }
}
