.element__button-hert{
    margin: 0;
    background: url(../../../images/Heart.svg);
    background-position: center;
    border: 0;
    width: 22px;
    height: 19px;
    transition: opacity .5s;
    background-repeat: no-repeat;
}

.element__button-hert:hover{
    opacity: 0.6;
    cursor: pointer;
}

