.popup__container{
    background-color: white;
    border-radius: 10px;
    width: 430px;
    position: relative;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 1049px){ 
    .popup__container{ 
        width: 282px;
    } 
}