.header{
    max-width: 880px;
    margin: 45px auto auto auto;
    min-height: 74px;
    border-bottom: 1px solid rgb(84, 84, 84, 0.7 );
}

@media screen and (max-width: 1049px){
    .header{
        margin: 28px auto auto auto;
        max-width: 320px;
        min-height: 56px;
    }
}